/* Основной контейнер формы */
.filters-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  background: #fdfdfd;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Каждая секция с полем */
.form-section {
  display: flex;
  flex-direction: column;
}
.form-section label {
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.form-section input,
.form-section select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Контейнер, в котором слайдер + подписи */
.slider-section {
  margin-bottom: 1rem;
}

/* Возраст — от и до в одной строке */
.age-inputs-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Чекбоксы (для источников и авто) */
.form-section input[type="checkbox"] {
  margin-right: 0.5rem;
}

.sources-toggle {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.source-btn {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.2s ease;
}

.source-btn.active {
  background-color: #e0f7e2;
  border-color: #30a228;
  color: #30a228;
  font-weight: 500;
}

/* Кнопка отправки */
button[type="submit"] {
  padding: 0.75rem 1.25rem;
  background-color: #39c531;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
  background-color: #30a228;
}



/*------------ Убираем стрелки у числовых полей -----------------------------*/
/*input[type=number]::-webkit-outer-spin-button,*/
/*input[type=number]::-webkit-inner-spin-button {*/
/*  -webkit-appearance: none;*/
/*  margin: 0;*/
/*}*/
/*input[type=number] {*/
/*  -moz-appearance: textfield;*/
/*}*/